<template>
  <div class=" px-4 md:px-8 py-8">
    <h1 class="text-4xl font-semibold">
      NASA Exoplanets
    </h1>
    <div>
      <form
        class="mt-4 mb-8"
        action="
      "
      >
        <div class="flex  flex-wrap max-w-full    ">
          <select
            class="mr-2 mt-2 flex-shrink flex-grow sm:flex-grow-0 min-w-0 text-gray-800 focus:border-blue-600"
            v-model="filters[key]"
            v-for="(value, key) in dropdownFilters"
          >
            <option value="" selected>{{ normalizeString(key) }}</option>
            <option class="min-w-0" :value="filter" v-for="filter in value">{{
              filter
            }}</option>
          </select>
        </div>
        <div class="mt-4 flex items-center space-x-4">
          <button
            @click.prevent="searchPlanets"
            type="button"
            class=" flex items-center px-5 rounded py-2 font-medium bg-blue-600 text-gray-100 hover:bg-blue-800"
          >
            <div v-if="loading" style="width: 20px; height: 20px;">
              <div class="loading loading--full-height"></div>
            </div>
            Search
          </button>
          <button
            @click.prevent="clearFilters"
            class="px-5 py-2 rounded font-medium bg-gray-500 hover:bg-gray-700 text-white"
          >
            Clear
          </button>
        </div>
      </form>
      <div class="min-w-screen">
        <div>
          <div v-if="exoplanets.length == 0">
            <p class="italic">
              No results!
            </p>
          </div>
          <div v-else>
            <table class="min-w-full divide-y divide-gray-200 border">
              <thead class="bg-gray-50">
                <TableHeader v-for="(value, key) in exoplanets[0]">
                  <button
                    class="flex items-center text-left font-medium tracking-wide uppercase focus:outline-none"
                    @click="setSort(key)"
                  >
                    {{ normalizeString(key) }}
                    <span
                      v-show="key == sort.key"
                      class="flex flex-col items-center justify-center ml-1"
                    >
                      <ChevronUp
                        :class="{ 'text-blue-500': sort.direction == 'ASC' }"
                      /><ChevronDown
                        :class="{ 'text-blue-500': sort.direction == 'DESC' }"
                      />
                    </span>
                  </button>
                </TableHeader>
              </thead>
              <TableBody>
                <tr v-for="exoplanet in exoplanets">
                  <TableData v-for="(value, key) in exoplanet"
                    ><a
                      class="text-blue-600 hover:text-blue-800 underline"
                      v-if="key == 'planet_name'"
                      target="_blank"
                      :href="
                        `https://exoplanetarchive.ipac.caltech.edu/overview/${value}`
                      "
                      >{{ value }}</a
                    ><span v-else>{{ value }}</span></TableData
                  >
                </tr>
              </TableBody>
            </table>
            <div
              class="mt-4 flex flex-col sm:flex-row space-y-2 sm:space-y-0 justify-between sm:items-center"
            >
              <p class="text-gray-800 ">
                Showing
                <span class="font-medium">{{
                  page == 1 ? 1 : (page - 1) * 20
                }}</span>
                to <span class="font-medium">{{ page * 20 }}</span> of
                <span class="font-medium">{{ totalResults }}</span> results
              </p>
              <div>
                <ul class="text-gray-800 flex items-center">
                  <li>
                    <router-link
                      :class="{ disabled: page == 1 }"
                      class="p-2 rounded-l-md border-gray-300 border inline-flex items-center"
                      :to="generateRouteUrl(page - 1)"
                    >
                      <span class="sr-only">Previous</span>
                      <svg
                        class="w-5 h-5"
                        fill="this.pageColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                          clip-rule="evenodd"
                        ></path></svg
                    ></router-link>
                  </li>
                  <li v-for="p in pageRange(totalResults, Number(page), 20, 3)">
                    <router-link
                      :class="{ disabled: p == page || !Number.isInteger(p) }"
                      class="py-2 px-4 text-sm border border-gray-300 border inline-flex items-center"
                      :to="generateRouteUrl(p)"
                    >
                      {{ p }}
                    </router-link>
                  </li>
                  <li :disabled="page == lastPage">
                    <router-link
                      :class="{ disabled: page == lastPage }"
                      class="p-2 rounded-r-md border-gray-300 border inline-flex items-center"
                      :to="generateRouteUrl(Number(page) + 1)"
                    >
                      <span class="sr-only">Next</span>
                      <svg
                        class="w-5 h-5"
                        fill="this.pageColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"
                        ></path></svg
                    ></router-link>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { filterQuery, sortQuery } from "~/helpers/query.js";
import ChevronDown from "../components/ChevronDown.vue";
const BASE_URL = "https://nasa.goldenticket.dev/api";
const RESOURCE = "exoplanets";
export default {
  components: { ChevronDown },
  data() {
    return {
      exoplanets: [],
      dropdownFilters: {},
      loading: false,

      page: 1,
      lastPage: null,
      totalResults: null,
      sort: {
        key: null,
        direction: "ASC"
      },
      filters: {
        discovery_year: "",
        discovery_method: "",
        discovery_facility: ""
      }
    };
  },
  async mounted() {
    this.page = this.$route.query.page || 1;
    this.filters = {
      discovery_year: this.$route.query.discovery_year || "",
      discovery_method: this.$route.query.discovery_method || "",
      discovery_facility: this.$route.query.discovery_facility || ""
    };
    let sortQuery = this.$route.query.sort;
    this.sort = {
      key: sortQuery
        ? sortQuery.charAt(0) == "-"
          ? sortQuery.slice(1)
          : sortQuery
        : null,
      direction: sortQuery
        ? sortQuery.charAt(0) == "-"
          ? "DESC"
          : "ASC"
        : null
    };

    await this.fetchExoplanets();
    await this.fetchDropdownFilters();
  },
  watch: {
    async $route(to) {
      this.page = this.$route.query.page || 1;
      await this.fetchExoplanets();
    }
  },
  methods: {
    async searchPlanets() {
      this.$router.push(this.generateRouteUrl(1));
    },
    async fetchExoplanets() {
      const fullUrl = `${BASE_URL}/${RESOURCE}?page=${this.page}&${filterQuery(
        this.filters
      )}&${sortQuery(this.sort.key, this.sort.direction)}`;
      this.loading = true;

      let response = await this.$http.$get(fullUrl);

      this.exoplanets = response.data;
      this.lastPage = response.last_page;
      this.totalResults = response.total;
      this.loading = false;
    },
    async fetchDropdownFilters() {
      const fullUrl = `${BASE_URL}/${RESOURCE}/filterable`;
      let response = await this.$http.$get(fullUrl);
      this.dropdownFilters = response;
    },
    normalizeString(string) {
      return this.capitalize(string.replace("_", " "));
    },
    capitalize(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    async clearFilters() {
      this.filters = {
        discovery_year: "",
        discovery_method: "",
        discovery_facility: ""
      };
      this.sort = {
        key: null,
        direction: "ASC"
      };
      this.$router.push({ path: "/" });
    },
    generateRouteUrl(page) {
      let filtered = { ...this.filters };
      for (const prop in filtered) {
        if (!filtered[prop]) {
          delete filtered[prop];
        }
      }
      let sort =
        this.sort.key != null
          ? (this.sort.direction == "DESC" ? "-" : "") + this.sort.key
          : null;
      return { path: "/", query: { page: page, ...filtered, sort } };
    },
    pageRange(totalItems, currentPage, pageSize, maxPages) {
      let totalPages = Math.ceil(totalItems / pageSize);

      // ensure current page isn't out of range
      if (currentPage < 1) {
        currentPage = 1;
      } else if (currentPage > totalPages) {
        currentPage = totalPages;
      }

      let startPage, endPage;
      if (totalPages <= maxPages) {
        // total pages less than max so show all pages
        startPage = 1;
        endPage = totalPages;
      } else {
        // total pages more than max so calculate start and end pages
        let maxPagesBeforeCurrentPage = Math.floor(maxPages / 2);
        let maxPagesAfterCurrentPage = Math.ceil(maxPages / 2) - 1;
        if (currentPage <= maxPagesBeforeCurrentPage) {
          // current page near the start
          startPage = 1;
          endPage = maxPages;
        } else if (currentPage + maxPagesAfterCurrentPage >= totalPages) {
          // current page near the end
          startPage = totalPages - maxPages + 1;
          endPage = totalPages;
        } else {
          // current page somewhere in the middle
          startPage = currentPage - maxPagesBeforeCurrentPage;
          endPage = currentPage + maxPagesAfterCurrentPage;
        }
      }

      // calculate start and end item indexes
      let startIndex = (currentPage - 1) * pageSize;
      let endIndex = Math.min(startIndex + pageSize - 1, totalItems - 1);

      // create an array of pages to ng-repeat in the pager control
      let pages = Array.from(Array(endPage + 1 - startPage).keys()).map(
        i => startPage + i
      );

      // return object with all pager properties required by the view
      return pages;
    },
    setSort(key) {
      this.sort = {
        key,
        direction: this.sort.direction == "ASC" ? "DESC" : "ASC"
      };
      this.$router.push(this.generateRouteUrl(1));
    }
  }
};
</script>

<style>
body {
  font-family: "Inter", sans-serif;
}

.disabled {
  @apply text-gray-400;
  pointer-events: none;
}

.loading {
  display: flex;
  justify-content: center;
}

.loading::after {
  content: "";
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-right: 4px;
  border: 4px solid #dddddd;
  border-top-color: #009579;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
</style>
